<ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeTab">
  <li [ngbNavItem]="defaultTab">
    <a ngbNavLink>Home</a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle
              dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="dropdownClicked('product')">Products</button>
              <button ngbDropdownItem (click)="dropdownClicked('customer')">Customers</button>
              <button ngbDropdownItem (click)="dropdownClicked('sales')">Sales People</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row" [ngSwitch]="selectedEntity">
        <div class="col" *ngSwitchCase="'product'">
          <app-product-list></app-product-list>
        </div>
        <div class="col" *ngSwitchCase="'customer'">
          <app-customer-list></app-customer-list>
        </div>
        <div class="col" *ngSwitchCase="'sales'">
          <app-sales-person-list></app-sales-person-list>
        </div>
        <div class="col" *ngSwitchDefault>
          Select an entity
        </div>
      </div>
    </ng-template>
  </li>
  <li *ngFor="let tab of tabs; let tabIndex = index" [ngbNavItem]="tab.tabId">
    <a ngbNavLink>{{tab.data.label}}
      <span class="close position-relative pl-2 font-weight-light"
            (click)="removeTab($event, tabIndex)">×</span>
    </a>

    <ng-template ngbNavContent>
      <app-dynamic-tab [tab]="tab" [tabIndex]="tabIndex"></app-dynamic-tab>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav">
</div>
